main{
    --white: #FFFFFF;
    --yellow: #F4D04E;
    --grey-500: #6b6b6b;
    --grey-950: #111111;

    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;

    background-color: var(--yellow);

    font-family: 'Figtree','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    line-height: 150%;
    letter-spacing: 0px;
    
    

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body{
    margin: 0px;
}

h1, h2, h3, h4{
    padding: 0px;
    margin: 0px;
}

h1{
    font-weight: 800;
    font-size: 24px;
}

h2{
    font-size: 16px;
    color: var(--grey-500);
    font-weight: 500;
}

h3, h4{
    font-size: 14px;
    color: var(--grey-950);
}

h3{
    font-weight: 100;
}

h4{
    font-weight: 800;
}


/* -------------------------------------- */

.tile{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 336px;
    background-color: var(--white);
    border: 1px solid;
    border-radius: 20px;
    padding: 24px 24px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    margin-left: 24px;
    margin-right: 24px;
}

.tileContent{
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 12px;
}

.highlight{
    padding: 4px 12px;
    background-color: var(--yellow);
    width: fit-content;
    border-radius: 4px;
}

.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.articleImg{
    display: flexbox;
    border-radius: 10px;
    width: 100%;
    /* height: 200px; Needs to be 200 without changing the width*/ 
}

.profileImg{
    height: 32px;
    width: 32px;
}


/* -------------------------------------- */

/* @media (min-width: 500px) {
    .tile{
        width: 336px;
        background-color: pink;
    }
} */
